/* Formatação de todos os elementos */
* {
    margin: 0;
    padding: 0;
}

/* Decoração do fundo */
.fundo {
    background-image: linear-gradient(45deg, black, rgb(65, 65, 65));
    height: 100vh;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Formatação da calculadora */
.calculadora {
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 15px;
}

/* Formatação da área onde os números vão aparecer */
#resultado {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    border-radius: 30px;
    text-align: right;
    padding: 5px;
}

/* Botões */
button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    border: none;
    color: white;
    border-radius: 30px;
    margin: 3px;
}

button:hover {
    background-color: black;
}

.igualdade {
    height: 106px;
}

.zero {
    width: 106px;
}